.app-stack {
  display: flex;
  flex-direction: column;
}

.app-stack > * + * {
  margin-top: 0.5rem;
}

.app-hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-hstack > * + * {
  margin-left: 0.5rem;
}
